body{
	background:#F6F4EC;
	font:16px "Helvetica Neue",Helvetica,"Lucida Grande","Luxi Sans",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei Mono",LiGothicMed
}
body,p,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
}